steps:
  # Build the container image
  - name: 'gcr.io/cloud-builders/docker'
    args:
      - 'build'
      - '-f'
      - 'infrastructure/docker/Dockerfile.api'
      - '-t'
      - 'gcr.io/$PROJECT_ID/lab-lens-api:$SHORT_SHA'
      - '-t'
      - 'gcr.io/$PROJECT_ID/lab-lens-api:latest'
      - '.'

  # Push the container image to Container Registry
  - name: 'gcr.io/cloud-builders/docker'
    args:
      - 'push'
      - 'gcr.io/$PROJECT_ID/lab-lens-api:$SHORT_SHA'

  - name: 'gcr.io/cloud-builders/docker'
    args:
      - 'push'
      - 'gcr.io/$PROJECT_ID/lab-lens-api:latest'

images:
  - 'gcr.io/$PROJECT_ID/lab-lens-api:$SHORT_SHA'
  - 'gcr.io/$PROJECT_ID/lab-lens-api:latest'

substitutions:
  _DEFAULT_TAG: 'latest'

options:
  machineType: 'E2_HIGHCPU_8'
  logging: CLOUD_LOGGING_ONLY
  substitution_option: 'ALLOW_LOOSE'
  dynamic_substitutions: true

timeout: '1200s'
